<ion-view view-title="注册新账号">
  <ion-nav-bar class="bar-energized">
    <ion-nav-buttons side="left">
      <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="goBack()">
    &nbsp;返回
      </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content class="has-header">
    <ul class="list list-inset">
      <lable class="item item-input">
        <span class="input-label">店铺名称</span>
        <input type="text" placeholder="请输入您的店铺名称" ng-model="registerData.shopname">
      </lable>
      <lable class="item item-input">
        <span class="input-label">店主姓名</span>
        <input type="text" placeholder="请输入您的真实姓名" ng-model="registerData.username">
      </lable>
      <lable class="item item-input">
        <span class="input-label">账号</span>
        <input type="text" placeholder="手机号码或者电子邮箱" ng-model="registerData.accont">
      </lable>
      <label class="item item-input">
        <span class="input-label">登入密码</span>
        <input type="password" placeholder="您的生意专家登录密码" ng-model="registerData.password">
      </label>
      <label class="item item-input">
        <span class="input-label">确认密码</span>
        <input type="password" placeholder="再次输入密码" ng-model="registerData.passwordagain">
      </label>
      <lable class="item item-input">
        <span class="input-label">推荐人</span>
        <input type="text" placeholder="没有就不用填" ng-model="registerData.recommend">
      </lable>
    </ul>
    <div>
      <i>
      <button class="button button-clear button-royal"ng-click="login()">
        已有账号请点此直接登入
      </button></i>
      <button class="button button-energized button-block" ng-click="login()">注册</button>
    </div>
  </ion-content>
</ion-view>
