
<ion-view >

  <div class="bar bar-header bar-energized">
    <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="goBack()">
      &nbsp;&nbsp;返回</button>
    <h1 class="title">找回密码</h1>
    </div>
  <div class="bar bar-subheader bar-light">
    <div class="propup-sub-title padding-left">
      <h6 class="title">1输入邮箱或手机号>2输入验证码>3重置密码
        </h6>
      </div>
    </div>

<ion-content class="has-header has-subheader"scroll="false">
  <div class="list list-inset">
    <span class="ioput-label">邮箱/手机号</span>
    <label class="item item-input">
      <input type="text">
      </label>
    </div>
  <div class="row padding">
    <button class="button button-energized button-block"ng-click="goBack()">提交</button>
    </div>
  </ion-content>
</ion-view>
